/* PC Version */

/* Import Font */

body{
    font-family: 'Raleway', sans-serif;
    background-color: #F5F5F5;
}


/* Header */


/* Name */

/* Hacer un div container para alinear todo.  creo que se ve en el curso de flexbox */
#name-person{
    font-weight: 700;
    font-size: 16px;
    color: #464646;
}

/* Navigation */
.nav-container{
    width: auto;
    position: relative;
    display: flex;
}

nav{
    position: absolute;
    top: -5px;
    right: 152px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    color: #464646;
    font-size: 16px;
    text-decoration: none;
}

nav a:hover{
    color: #C78C19;
}


/* Section */


/* Presentation */

/* container Presentacion  */
.container-presentation{
    display: flex;
    justify-content: center;
    padding: 64px;
}

.container-presentation-img{
    display: block;
    width: 368px;
    height: 368px;
}

.texto-derecho{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 32px;
    position: static;
    width: 751px;
    height: 122px;
    left: 0px;
    top: 0px;
}

#title-presentation{
    font-weight: 700;
    font-size: 52px;
    color: #464646;
}

.texto-presentation{
    font-size: 22px;
    color: #464646;
}

/* Picture */

.picture{
    width: 368px;
    height: 368px;
    float:right;
}

/* Links */
.links{
    width: auto;
    position: relative;
    display: flex;
}

.links li{
    display: inline;
    margin: 0 0 0 15px;
}

.links a{
    color: #464646;
    font-size: 16px;
    text-decoration: none;
}

.links a:hover{
    color: #C78C19;
}


/* Section */


/* About me */

.container-about{
    width: auto;
    height: 383px;
    padding-top: 2%;
    padding-left: 17%;
    display: flex;
    background-color:  #EAF2FD;
}

.titulo-sobreMi{ 
    font-weight: 700;
    font-size: 32px;
    color: #464646;
}

.text-sobreMi{
    font-size: 16px;
    color: #464646;
}


/* Section */


/* Skills and Hobbies */

/* Titles */
.titles{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #464646;
}

.titles-icon{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #464646;
}

/* Casillas */
.casillas{
    display: block;
    width: 176px;
    height: 174px;
	background-color: #FFF;
	text-align: center;
	margin: 1%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	position: relative;
}


.listaCasillas{
    display: flex;
    flex-wrap: wrap;
    padding-left: 17%;
}

.listaCasillas i{
    padding-top: 25px;
}

.casillas ul{
    display: inline-flex;
    padding-left: 17%;
}


/* Section */


/* Formacion Academica */

.container-formation{
    background-color: #EAF2FD;
    height: 550px;/* Cambiar el height para que calce con todo (imagen/texto) */
}

.formacion{
    width: auto;
	background-color: #FFF;
	text-align: center;
	margin: 1%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	position: relative;
}

.listaFormaciones{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 17%;
}

.formacion{
    display: flex;
    width: 25%;
    height: 180px;
}

/* Imagenes */
#imagen-alura{
    width: 260px;
    height: 150px;
    margin: auto;
}

#imagen-cisco{
    width: 260px;
    height: 150px;
    margin: auto;  
}

#imagen-google{
    width: 260px;
    height: 100px;
    margin: auto;
}

#imagen-ina{
    width: 300px;
    height: 200px;
    margin: auto;
}

#imagen-platzi{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: -15px;
}

#imagen-tec{
    width: 260px;
    height: 180px;
    margin: auto;
    margin-top: -10px;
}


/* Section */


/* Experiencia Profesional*/

.titulo-formacion{
    font-weight: 700;
    font-size: 22px;
    color: #464646;
}

.texto-formacion{
    font-weight: 500;
    font-size: 16px;
    color: #464646;
}

/* Botones */
.btn-repositorio{
    border: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    background-color: #2A7AE4;
    color: white;
    margin: 25px 0;    
}

.btn-demo{
    border-color: #2A7AE4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    background-color: white;
    color: #2A7AE4;
    margin: 25px 0;    
}

/* imagenes */
.container-proyecto{
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
}

.texto-proyecto{
    padding-top: 5%;
    padding-right: 17%;
    padding-left: 17%;
}

#imagenProyecto{
    width: 752px;
    height: 406px;
    padding-left: 17%;
}

#imagenDerecha{
    width: 752px;
    height: 406px;
    padding-left: -27%;
}


/* Section */


/* Contacto */

.contact{
    display: flex;
    justify-content: center;
    padding: 64px;
    background-color: #EAF2FD;
}

.contact-img{
    display: block;
    width: 464px;
    height: 570px;
}

.contact-text{
    width: 35vw;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 32px;
}

.contact-title{
    font-weight: 700;
    font-size: 32px;
    color: #464646;
}

.contact-subtext{
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    color: #464646;
}

.contacto-input{
    border: transparent;
    height: 56px;
    margin: 10px 0px;
    width: 100%;
}

.contacto-input:focus{
    border-bottom: solid 2px #2A7AE4;
}

.contacto-input::placeholder{
    color: #2A7AE4;
}

.contacto-textarea{
    border: transparent;
    margin: 10px 0px;
    height: 96px;
    width: 100%;
}

.contacto-textarea::placeholder{
    color: #2A7AE4;
}

.contacto-button{
    border: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    background-color: #2A7AE4;
    color: white;
    margin: 25px 0;    
}


/* Section */


/* Footer */

.footer{
    text-align: center;
}